
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

@import 'tailwindcss';


@theme{
    --color-theme-bg-body: #0a0a0a;

    --font-Jersey: "Jersey 10", sans-serif;
    --font-Indie: "Indie Flower", sans-serif;

    --breakpoint-xs: 20rem;

       
}
